* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body {
            font-family: "Science Gothic", sans-serif;
            background-color: lightblue;
            color: OrangeRed;
        }
        
        header nav ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            background-color: darkblue;
        }
        
        header nav a {
            text-decoration: none;
            color: white;
            padding: 15px;
            transition: all .3s ease-in-out;
        }
        
        header nav a:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
        
        main {
            max-width: 1200px;
            margin: auto;
            padding-top: 40px;
        }
        
        section h2 {
            text-align: center;
            margin-bottom: 40px;
        }
        
        #about p,
        #delivery p {
            line-height: 1.6em;
            padding: 20px;
        }
        
        #gallery img {
            width: 100%;
            object-fit: cover;
            height: 200px;
            margin-bottom: 10px;
        }
        
        #catalog div.card {
            float: left;
            width: calc((100% / 5) - 20px); /* позволяет показывать 5 картинок в ряду */
            margin-right: 20px;
            margin-bottom: 20px;
            padding: 10px;
           background-image: linear-gradient(to left,purple, blue);
            border-radius: 5px;
            overflow: hidden;
        }
        
        #catalog div.card:nth-child(5n) {margin-right: 0;}
        
        #catalog img {
            width: 100%;
            height: 150px;
            object-fit: contain;
        }
        
        footer {
            background-color: darkblue;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: relative;
            bottom: 0;
            width: 100%;
        }
